@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To MovieApp</h1>
    <p>Want to Navigate! <a href="https://localhost:7246/Movies">Get Started</a>.</p>
</div>
